
<table>
  <tr>
	 <%= tweet.title %><br>
	 <%= tweet.text %><br>
  <div class="minibox"><div class="ellipsis"><%= link_to tweet.user.username, user_path(tweet.user) %></div></div>
</tr>
</table>
</br>
</br>